@tailwind base;
@tailwind components;
@tailwind utilities;

.the_font_none_smooth {
  -webkit-font-smoothing: none;
}

body {
  @apply bg-[#6F727A];
}

@font-face {
  font-family: "FontSystem";
  src: url("/font2.ttf") format("truetype");
}

.the_font_system {
  font-family: "FontSystem", serif;
}
