@tailwind base;
@tailwind components;
@tailwind utilities;

.the_font_none_smooth {
  -webkit-font-smoothing: none;
}

body {
  @apply bg-[#6F727A];
}

@font-face {
  font-family: "MyCustomFont2";
  src: url("/font2.ttf") format("truetype");
}

.the_font_0001 {
  font-family: "MyCustomFont", serif;
}

.the_font_0002 {
  font-family: "MyCustomFont2", serif;
}
